# Core dependencies
fastapi==0.135.1
fastapi-utils==0.8.0
fhir.resources==8.2.0
gitpython==3.1.46
httpx==0.28.1
hypercorn==0.18.0
loguru==0.7.3
pre-commit==4.5.1
psycopg[binary,pool]==3.3.3
pyjwt[crypto]==2.12.0

# Test dependencies
pytest>=8.0.0
pytest-asyncio>=0.24.0
pytest-env>=1.1.5
pytest-mock>=3.14.0
ruff==0.15.4
SQLAlchemy==2.0.48
typing-inspect==0.9.0
