fastapi==0.133.1
fastapi-restful==0.6.0
fhir.resources==8.2.0
gitpython==3.1.46
httpx==0.28.1
hypercorn==0.18.0
pre-commit==4.3.0
psycopg[binary,pool]==3.3.3
pyjwt[crypto]==2.11.0
ruff==0.15.4
SQLAlchemy==2.0.47
typing-inspect==0.9.0
